orbs:
  docker: circleci/docker@x.y.z
version: 2.1
jobs:
    prepare-dependencies:
        steps:
            - checkout
            - run:
                  name: Configure credentials
                  command: configure-docker-credentials-store
    build-and-push: 
         docker:
            - check
            - publish:
              image: $CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME
              command: echo 1
workflows:
  commit:
    jobs:
      - build-and-push

